body{
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
}

h1{
    width: 100%;
    padding: 30px 0px;
    text-align: center;
    background-color: #7fffd4;
    margin-bottom: 80px;
}

form{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 70px;
    background-color: #f4f2ee;
    margin-bottom: 40px;
}

form input{
    width: 90%;
    border: none;
    border-bottom: 2px dashed #808080;
    background-color: #f4f2ee;
    margin-top: 15px;
}

form button{
    border: none;
    padding: 6px 8px;
    border-radius: 4px;
    background-color: #bbc329;
    color: #ffffff;
}

form button:hover{
    opacity: .7;
    cursor: pointer;
} 

table{
    width: 100%;
    align-content: center;
}

tr:last-child{
    min-width: auto;
}

td{
    padding-left: 12%;
}

td button{
    border: none;
    padding: 6px 8px;
    color: #ffffff;
}

td button:hover{
    cursor: pointer;
    opacity: .7;
}

td .green{
    background-color: green;
}

td .red{
    background-color: red;
}